.cards {
    padding: 0px 60px 0px 45px;
}

.title {
    color: #657f9c;
}

.line {
    border: 1px solid #CFDCEB;
    margin: 10px 0 30px 0;
}

.tile {
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    width: 180px !important;
    height: 180px !important;
    box-shadow: 1px 1px 1px 1px #CFDCEB;
    cursor: pointer;
}

.bot-card {
    display: block;
    width: 160px;
}

.star {
    height: 25px;
}

.star-img {
    cursor: pointer;
}

.image {
    height: 70px;
}

.bot-image {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.name {
    height: 25px;
    font-family: Calibri;
    text-align: center;
    color: #6c7a82;
    font-size: 16px;
    font-weight: bold;
}

.template {
    height: 15px;
    font-family: Calibri;
    text-align: center;
    color: #6c7a82;
    font-size: 12px;
}