<app-menu></app-menu>
<div class="cards">
  <div class="title">
    <h1>Favorites</h1>
  </div>
  <div>
    <mat-grid-list cols="6" rowHeight="200px">
      <mat-grid-tile *ngFor="let bot of favoriteBots" class="tile" (click)="botDetails(bot)">
        <div class="bot-card">
          <div class="star">
            <img src="../../assets/images/star.png" class="star-img" (click)="setFavorited(bot, false)">
          </div>
          <div class="image">
            <img src="{{bot.image}}" class="bot-image" />
          </div>
          <div class="name">{{bot.name}}</div>
          <div class="template">{{bot.template}}</div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <hr class="line" />
  <div class="list">
    <mat-grid-list cols="6" rowHeight="200px">
      <mat-grid-tile *ngFor="let bot of unfavoritedBots" class="tile" (click)="botDetails(bot)">
        <div class="bot-card">
          <div class="star">
            <img src="../../assets/images/favorite.png" class="star-img" (click)="setFavorited(bot, true)">
          </div>
          <div class="image">
            <img src="{{bot.image}}" class="bot-image" />
          </div>
          <div class="name">{{bot.name}}</div>
          <div class="template">{{bot.template}}</div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>