.list {
    padding: 0px 60px 0px 45px;
}

.title {
    color: #657f9c;
}

.list-line {
    display: flex;
    height: 70px;
}

.line {
    border: 1px solid #CFDCEB;
    margin: 25px 0 30px 0;
}

.item {
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    height: 55px !important;
    box-shadow: 1px 1px 1px 1px #CFDCEB;
    cursor: pointer;
}

.star {
    width: 45px;
    margin: auto;
}

.star-img {
    cursor: pointer;
}

.image {
    width: 40px;
    padding-right: 15px;
}

.bot-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.name {
    font-family: Calibri;
    color: #6c7a82;
    font-size: 16px;
    font-weight: bold;
    width: 20%;
}

.created {
    font-family: Calibri;
    color: #6c7a82;
    font-size: 16px;
    width: 70%;
    text-align: end;
}