<app-menu></app-menu>
<div class="list">
  <div class="title">
    <h1>Favorites</h1>
  </div>
  <div>
    <mat-list>
      <div *ngFor="let bot of favoriteBots" class="list-line">
        <div class="star">
          <img src="../../assets/images/star.png" class="star-img" (click)="setFavorited(bot, false)">
        </div>
        <mat-list-item class="item" (click)="botDetails(bot)">
          <div class="image">
            <img src="{{bot.image}}" class="bot-image" />
          </div>
          <div class="name">{{bot.name}}</div>
          <div class="created">Created at {{bot.created  | date: 'dd/MM/yyyy'}}</div>
        </mat-list-item>
      </div>
    </mat-list>
  </div>
  <hr class="line" />
  <div>
    <mat-list>
      <div *ngFor="let bot of unfavoritedBots" class="list-line">
        <div class="star">
          <img src="../../assets/images/favorite.png" class="star-img" (click)="setFavorited(bot, true)">
        </div>
        <mat-list-item class="item" (click)="botDetails(bot)">
          <div class="image">
            <img src="{{bot.image}}" class="bot-image" />
          </div>
          <div class="name">{{bot.name}}</div>
          <div class="created">Created at {{bot.created  | date: 'dd/MM/yyyy'}}</div>
        </mat-list-item>
      </div>
    </mat-list>
  </div>
</div>