.header {
    background-color: #1a2437;
    padding: 10px 0 10px 0;
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    height: 25px;
}

.center {
    margin-left: auto;
    width: 52%;
}

.logo-img {
    height: 18px;
    cursor: pointer;
}