.profile {
    padding: 30px 60px 0px 60px;
    height: 100vh;
}

.profile-header {
    display: flex;
    height: 60px;
}

.blip {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #dee8ec;
}

.blip-img {
    padding: 13px;
}

.names {
    font-family: Calibri;
    color: #6c7a82;
    width: 20%;
    margin: auto 15px;
}

.name {
    font-size: 24px;
    font-weight: bold;
}

.shortName {
    font-size: 14px;
    font-weight: lighter;
}

.created {
    font-family: Calibri;
    color: #6c7a82;
    font-size: 14px;
    width: 70%;
    text-align: end;
    margin: auto 15px;
    font-weight: lighter;
}

.line {
    border: 1px solid #CFDCEB;
    margin: 25px 0 30px 0;
}

.horizontal-tile {
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 1px #CFDCEB;
    height: 90%;
    width: 95%;
}

.vertical-tile {
    border-radius: 10px;
    height: 95%;
    width: 90%;
}

.region {
    font-family: Calibri;
    color: #6c7a82;
    font-size: 14px;
    padding: 15px 0px 0px 40px;
}

.horizontal-tile-div {
    display: flex;
    width: 300px;
    height: 50px;
}

.div-total {
    margin: 28% 0 0 10%;
    font-family: Calibri;
    color: #6c7a82;
}

.user-logo {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #2cc3d5;
    margin: 30% 0 0 10%;
}

.user-img {
    padding: 10px 0 0 15px;
}

.union-logo {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #4dcb7b;
    margin: 30% 0 0 10%;
}

.union-img {
    padding: 13px 0 0 13px;
}

.sent-logo {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #517bf2;
    margin: 30% 0 0 10%;
}

.sent-img {
    padding: 13px 0 0 13px;
}

.total {
    font-size: 26px;
    font-weight: bold;
    margin-block-start: 3px;
    margin-block-end: 3px;
}

.label {
    margin-block-start: 3px;
    margin-block-end: 3px;
}

.plano {
    padding-top: 15%;
}

.plano-img {
    display: block;
    margin: auto;
}

.plano-status {
    text-align: center;
    font-family: Calibri;
    color: #6c7a82;
}

.update {
    padding-top: 10%;
}

.button {
    font-family: Calibri;
    background-color: #2cc3d5;
    color: #f5f8f9;
    width: 160px;
    display: block;
    margin: auto;
}

.footer {
    height: 25px;
    font-family: Calibri;
    text-align: center;
    color: #6c7a82;
    font-size: 12px;
}