<div class="profile">
  <div class="profile-header">
    <div class="blip">
      <img src="../../assets/images/blip.png" class="blip-img">
    </div>
    <div class="names">
      <div class="name">{{bot.name}}</div>
      <div class="shortName">Id: {{bot.shortName}}</div>
    </div>
    <div class="created">Created at {{bot.created  | date: 'dd/MM/yyyy'}}</div>
  </div>
  <hr class="line" />
  <div class="details">
    <mat-grid-list cols="13" rowHeight="250px">
      <mat-grid-tile [colspan]="3">
        <div class="horizontal-tile">
          <div class="region">
            <p>Region and idiom</p>
            <p><strong>{{bot.culture}}</strong></p>
            <p>Timezone</p>
            <p><strong>(UTC - 03:00) Brasília</strong></p>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="7">
        <div class="horizontal-tile">
          <div class="horizontal-tile-div">
            <div class="user-logo">
              <img src="../../assets/images/user.png" class="user-img">
            </div>
            <div class="div-total">
              <p class="total">{{(bot.analytics && bot.analytics.user) ? bot.analytics.user.actived : 0}}</p>
              <p class="label">Usuários ativos</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" [rowspan]="2">
        <div class="vertical-tile">
          <div class="plano">
            <img src="../../assets/images/plano.png" class="plano-img">
          </div>
          <div class="plano-status">
            <p class="label">Status account</p>
            <p class="total">{{bot.plan}}</p>
          </div>
          <div class="update">
            <button mat-raised-button class="button">Update account</button>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="6">
        <div class="horizontal-tile">
          <div class="horizontal-tile-div">
            <div class="union-logo">
              <img src="../../assets/images/union.png" class="union-img">
            </div>
            <div class="div-total">
              <p class="total">{{(bot.analytics && bot.analytics.message) ? bot.analytics.message.received : 0}}</p>
              <p class="label">Mensagens recebidas</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4">
        <div class="horizontal-tile">
          <div class="horizontal-tile-div">
            <div class="sent-logo">
              <img src="../../assets/images/sent.png" class="sent-img">
            </div>
            <div class="div-total">
              <p class="total">{{(bot.analytics && bot.analytics.message) ? bot.analytics.message.sent : 0}}</p>
              <p class="label">Mensagens enviadas</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <hr class="line" />
  <div class="footer">©2019, BLiP Todos os direitos reservados | <strong>Termos de Uso</strong></div>
</div>