<div class="menu">
  <div class="title">
    <h1>My chatbots</h1>
  </div>
  <div class="search">
    <input type="text" matInput class="filter" placeholder="Search" autocomplete="off" [(ngModel)]="searchText"
      (keyup)="search()">
  </div>
  <div class="order">
    <div class="separator">
      <button mat-raised-button class="button" (click)="orderByName(true)">Order by name</button>
    </div>
    <div class="separator">
      <button mat-raised-button class="button" (click)="orderByCreation(true)">Order by creation</button>
    </div>
  </div>
  <div class="icons">
    <div class="separator">
      <img src="../../assets/images/organize-blocks.png" class="organize-blocks-img" (click)="cardsView()">
    </div>
    <div class="separator">
      <img src="../../assets/images/organize-list.png" class="organize-list-img" (click)="listView()">
    </div>
  </div>
</div>