.menu {
    height: 75px;
    width: 100vw;
    padding: 25px 60px 5px 45px;
    display: flex;
    justify-content: flex-start;
}

.title {
    color: #57626f;
    flex-grow: 4;
}

.search {
    padding-top: 15px;
    flex-grow: 0;
}

.filter {
    font-family: Calibri;
    color: #acbac7;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #CFDCEB;
    padding: 8px;
    width: 250px;
}

.order {
    padding: 15px 0 0 15px;
    display: flex;
    flex-grow: 0;
}

.separator {
    padding-right: 10px;
}

.button {
    font-family: Calibri;
    background-color: #2cc3d5;
    color: #f5f8f9;
    width: 140px;
}

.icons {
    padding-top: 15px;
    display: flex;
    flex-grow: 1;
}

.organize-blocks-img {
    cursor: pointer;
}

.organize-list-img {
    cursor: pointer;
}